<ng-container *ngIf="currentUser">
  <figure class="text-center h1">
    <p>Hello {{ currentUser.firstName }} {{ currentUser.lastName }}</p>
  </figure>
</ng-container>
<section>
  <div class="card text-center mx-auto mt-4" style="width: 22rem;">

    <img alt="profile" class="card-img-top" src="/assets/pictures/profile_picture.png">
    <div class="card-body">
      <h5 class="card-title" *ngIf="currentUser != undefined"> {{currentUser.firstName}} {{currentUser.lastName}}
<!--        <br> Employee Id: {{currentUser.id}}-->
      </h5>
      <div *ngIf="currentUser != undefined" [(ngModel)]="newPeriod.employee == currentUser.id">
      </div>
      <button (click)="openFormNewLeaveRequest()" class="btn btn-add mr-1 mb-4 justify-content-center"
              role="button">
        New Attendance <span><i class="fa-solid fa-pencil m-1" aria-hidden="true"></i></span>
      </button>

      <form class="form-group" *ngIf="newLeaveRequest">
        <label style="display: inline-block">Purpose:
        </label>
        <select class="form-control" *ngIf="authService.isOwner" [(ngModel)]="newPeriod.purpose" id="periodPurpose" name="periodPurpose">
          <option *ngFor="let p of Purpose | keyvalue" [ngValue]="p.key">{{p.value}}</option>
        </select>
        <select class="form-control" *ngIf="!authService.isOwner" [(ngModel)]="newPeriod.purpose" id="periodPurpose2" name="periodPurpose">
          <option *ngFor="let p of PurposeRequests | keyvalue" [ngValue]="p.key">{{p.value}}</option>
        </select>
        <br>
        <div *ngIf="authService.isOwner">
         <label>Employee Name: </label>
          <select class="form-control" [(ngModel)]="newPeriod.employee" id="periodId1" name="periodId">
           <option *ngFor="let e of employees" [ngValue]="e.id">{{e.firstName}} {{e.lastName}}</option>
          </select>
        </div>

        <div *ngIf="!authService.isOwner">
          <div *ngIf="currentUser">
          <label>Employee Name: </label>
          <select class="form-control" [(ngModel)]="newPeriod.employee" id="periodId2" name="periodId">
            <option [ngValue]="currentUser.id">{{currentUser.firstName}} {{currentUser.lastName}}</option>
          </select>
          </div>
        </div>

        <label>From:</label>
        <input class="form-control text-center" [(ngModel)]="newPeriod.dateFrom" type="datetime-local"
               name="periodDateFrom">
        <label>To: </label>
        <input class="form-control text-center" [(ngModel)]="newPeriod.dateTo" type="datetime-local"
        name="periodDateTo">
        <br>
        <div class="form-control" aria-label="Toolbar with button groups" class="btn-toolbar justify-content-center"
             role="toolbar">
          <button (click)="saveEntry(newPeriod)" class="btn btn-add mr-1 mb-4 justify-content-center"
                  role="button">
            <span><i class="fa fa-paper-plane m-1" aria-hidden="true"></i></span>Submit
          </button>
        </div>
      </form>

    </div>
  </div>
</section>

<!-- Table for Personal Attendance Summary of any User (Current user) -->
<br>
<section class="column justify-content-center row justify-content-center" id="cards">
  <div class="col-md-9 table-responsive embed-responsive">
    <div class="mb-4 text-center">
      <button type="button" (click)="showLeaveRequest()" *ngIf="userLeave" class="btn btn-add">Your Attendance summary
      <span><i class="fa-solid fa-calendar-days"></i></span>
      </button>
      <button type="button" (click)="showLeaveRequest()" *ngIf="!userLeave" class="btn btn-add">Hide your Attendance summary
      <span><i class="fa-solid fa-calendar-xmark"></i></span>
      </button>
      <div class="card" *ngIf="!userLeave">
        <div class="card-body text-center">
          <table class="table table-responsive-sm table-hover" *ngIf="currentUser != undefined">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Purpose</th>
              <th scope="col">Begin</th>
              <th scope="col">End</th>
              <th scope="col">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let period of periods">
              <ng-container *ngIf="period.employee == currentUser.id">
                <ng-container [ngSwitch]="period.purpose">
                  <tr *ngSwitchCase="'SICK_LEAVE'" class="sick">
                    <th scope="row"></th>
                    <td class="align-middle">Sick leave</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'WORKING_HOURS'" class="wHours">
                    <th scope="row"></th>
                    <td class="align-middle">Working hours</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'VACATION_REQUEST'" class="vacation">
                    <th scope="row"></th>
                    <td class="align-middle">Vacation request</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'CONFIRMED_VACATION'" class="cVacation">
                    <th scope="row"></th>
                    <td class="align-middle">Confirmed vacation</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'SCHEDULED_WORKING_HOURS'" class="sWorkingH">
                    <th scope="row"></th>
                    <td class="align-middle">Scheduled working hours</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'ABSENCE'" class="absence">
                    <th scope="row"></th>
                    <td class="align-middle">Absence</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'FREE_TIME_REQUEST'" class="freeTime">
                    <th scope="row"></th>
                    <td class="align-middle">Free time request</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'WORKING_HOUR_REQUEST'" class="wHourRequest">
                    <th scope="row"></th>
                    <td class="align-middle">Working hour request</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="editModeOn(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Edit
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                        Delete
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Table for requests of a team (Visible only to team manager) -->
<br>
<section class="column justify-content-center row justify-content-center" id="cards2" *ngIf="authService.isManager">
  <div class="col-md-9 table-responsive embed-responsive">
    <div class="mb-4 text-center">
      <button type="button" (click)="showTeamRequests()" *ngIf="teamRequests" class="btn btn-add">Show team requests
        <span><i class="fa-solid fa-calendar-days"></i></span>
      </button>
      <button type="button" (click)="showTeamRequests()" *ngIf="!teamRequests" class="btn btn-add">Hide team requests
        <span><i class="fa-solid fa-calendar-xmark"></i></span>
      </button>
      <div class="card" *ngIf="!teamRequests">
        <div class="card-body text-center">
          <table class="table table-responsive-sm table-hover" *ngIf="currentUser != undefined">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Employee</th>
              <th scope="col">Purpose</th>
              <th scope="col">Begin</th>
              <th scope="col">End</th>
              <th scope="col">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let period of periods">
              <ng-container *ngIf="getTeamOfEmployee(period) == currentUser.team">
                <ng-container [ngSwitch]="period.purpose">
                  <tr *ngSwitchCase="'VACATION_REQUEST'" class="vacation">
                    <th scope="row"></th>
                    <td class="align-middle">{{getEmployeeOfPeriod(period).firstName}} {{getEmployeeOfPeriod(period).lastName}}</td>
                    <td class="align-middle">Vacation request</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="confirmPeriod(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Confirm
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" class="btn btn-exit" type="button">
                        Reject
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'FREE_TIME_REQUEST'" class="freeTime">
                    <th scope="row"></th>
                    <td class="align-middle">{{getEmployeeOfPeriod(period).firstName}} {{getEmployeeOfPeriod(period).lastName}}</td>
                    <td class="align-middle">Free time request</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="confirmPeriod(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Confirm
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" class="btn btn-exit" type="button">
                        Reject
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngSwitchCase="'WORKING_HOUR_REQUEST'" class="wHourRequest">
                    <th scope="row"></th>
                    <td class="align-middle">{{getEmployeeOfPeriod(period).firstName}} {{getEmployeeOfPeriod(period).lastName}}</td>
                    <td class="align-middle">Working hour request</td>
                    <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                    <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                    <td class="align-middle">
                      <button (click)="confirmPeriod(period)" type="button"
                              class="btn btn-edit" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                        Confirm
                        <span><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button (click)="deletePeriod(period.id)" class="btn btn-exit" type="button">
                        Reject
                        <span><i class="fa-solid fa-circle-xmark"></i></span>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Edit Function with Bootstrap Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Attendance Request</h5>
        <div class="gap-2 d-md-block">
        <button (click)="saveEntry(selectedPeriod)" type="button" class="btn btn-add m-1" data-bs-dismiss="modal">
          <span><i class="fa-solid fa-floppy-disk"></i></span>
        </button>
        <button (click)="editModeOff()" type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
          <span><i class="fa-solid fa-circle-xmark"></i></span>
        </button>
        </div>
      </div>
      <div class="modal-body">

        <!--Edit Feature-->
        <div *ngIf="editMode" class="text-center">
          <div>
            <label for="leavePurpose">Purpose: </label>
            <select class="form-control" #teamName="ngModel" [(ngModel)]="selectedPeriod.purpose"
                   id="leavePurpose" name="leavePurpose" type="text">
              <option *ngFor="let p of Purpose | keyvalue" [ngValue]="p.key">{{p.value}}</option>
            </select>
          </div>
          <label>Begin:</label>
          <input class="form-control text-center" [(ngModel)]="selectedPeriod.dateFrom" type="datetime-local"
                 name="periodDateFrom">
          <label>End: </label>
          <input class="form-control text-center" [(ngModel)]="selectedPeriod.dateTo" type="datetime-local"
                 name="periodDateTo">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table for Personal Attendance Summary of all Employees -->
<section class="column justify-content-center row justify-content-center" id="all_leaves">
  <div class="col-md-9 table-responsive embed-responsive">
    <div class="mb-4 text-center">
      <button (click)="clearAllPeriods()" *ngIf="!allLeave && authService.isOwner" class="btn btn-add mb-5" type="button">Attendance Summary of
        all Employees
        <span><i class="fa-solid fa-calendar-days"></i></span>
      </button>
      <button (click)="clearAllPeriods()" *ngIf="allLeave" class="btn btn-add" type="button">Attendance Summary of
        all Employees
        <span><i class="fa-solid fa-calendar-xmark"></i></span>
      </button>
      <div class="card" *ngIf="allLeave">
        <div class="card-body text-center">
          <table class="table table-responsive-sm table-hover" *ngIf="currentUser != undefined">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Employee</th>
              <th scope="col">Purpose</th>
              <th scope="col">Begin</th>
              <th scope="col">End</th>
              <th scope="col">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let period of periods">
              <ng-container [ngSwitch]="period.purpose">
                <ng-container *ngFor="let employee of employees">
                  <ng-container *ngIf="employee.id == period.employee">
                <tr *ngSwitchCase="'VACATION_REQUEST'" class="vacation">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Vacation request</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'SICK_LEAVE'" class="sick">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Sick leave</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'CONFIRMED_VACATION'" class="cVacation">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Confirmed vacation</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'WORKING_HOURS'" class="wHours">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Working hours</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'SCHEDULED_WORKING_HOURS'" class="sWorkingH">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Scheduled working hours</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'ABSENCE'" class="absence">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Absence</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'FREE_TIME_REQUEST'" class="freeTime">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Free time request</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>
                <tr *ngSwitchCase="'WORKING_HOUR_REQUEST'" class="wHourRequest">
                  <th scope="row"></th>
                  <td class="align-middle">{{employee.firstName}} {{employee.lastName}}</td>
                  <td class="align-middle">Working hour request</td>
                  <td class="align-middle">{{removeTFromDate(period.dateFrom)}}</td>
                  <td class="align-middle">{{removeTFromDate(period.dateTo)}}</td>
                  <td class="align-middle">
                    <button (click)="editModeOn(period)" type="button"
                            class="btn btn-edit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                      Edit
                      <span><i class="fa-solid fa-pencil"></i></span>
                    </button>
                    <button (click)="deletePeriod(period.id)" *ngIf="authService.isOwner" class="btn btn-exit" type="button">
                      Delete
                      <span><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                  </td>
                </tr>

                </ng-container>
              </ng-container>
              </ng-container>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
